<div class="row">
    <main class="col-md-12">
        <h3><br>Students
            <a href="/students/add" class="btn btn-primary float-right">Add New Student</a>
        </h3>
        <br>
        <div>
            <table class="table">
                <tr>
                    <th>Student Number</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Course ID</th>
                    <th></th>
                </tr>
                    {{#each students}}
                        <tr>
                            <td>{{this.studentNum}}</td>
                            <td><a href="/student/{{this.studentNum}}">{{this.firstName}} {{this.lastName}}</a></td>
                            <td><a href="mailto:{{this.email}}">{{this.email}}</a></td>
                            <td>{{this.addressStreet}}, {{this.addressCity}}, {{this.addressProvince}}</td>
                            <td>{{this.status}}</td>
                            <td><a href="/students?course={{this.courseId}}">{{this.courseId}}</a></td>
                            <td>
                                <div class="float-right">
                                    <form action="/student/delete/{{this.studentNum}}" method="DELETE">
                                        <button type="submit" class="btn btn-danger">Remove</button>
                                    </form>
                                </div>
                        </tr>
                    {{/each}}
                </tr>
            </table>
        </div>
    </main>

    {{!-- No student to display --}}
    {{#if (not students)}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/if}}
</div>